<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; beamer_in.tex &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>tex</string>
	<key>name</key>
	<string>Beamer tex</string>
	<key>scope</key>
	<string>text.tex</string>
	<key>uuid</key>
	<string>19E6DB44-7E2C-4BA0-8B49-435CBB43F4D0</string>
</dict>
</plist>
